
@media (max-width: 768px) {
    #tema_container {
        position: relative;
        top: 5%;
        left: 5%;
        padding-top: 5%;
        width: 40%;
        aspect-ratio: 24.7/11;
    }

    #tema_sprite {
        width: 100%;
        height: 100%;
        background-image: url(../img/tema5_img/passionsite_img/Tema_5_P.png);
        background-size: cover;
        margin-top: 2em;
    }
    img{
        max-width: 50%;
    }

    main {
        padding: 2em;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 7; 
        gap: 2em; 
        row-gap: 1px solid #B6A38D;
    }

    #tema_container {
        grid-column: 1 / -1; 
        grid-row: 1 / 2; 
        margin-bottom: 2em;
    }
    .Hero_section{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .carousel_1 {
        grid-column: 1/ 2; 
        grid-row: 3/4; 
    }
    .video{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .link{
        grid-column: 1/3;
        grid-row: 6/7;
        text-align: center;
    }
   

   
.Hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    background-color: none;
    padding: 2em;
}
    div.Hero_image{
    background-image: url(../img/tema5_img/passionsite_img/hero_billede.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    }
    section.video{
        border-top: 1px solid #B6A38D;
    }
    div.video_grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 2;
        gap: 10px;
        padding: 2em;
    
    }
        video:nth-of-type(1){
            grid-column: 1/2;
            grid-row: 1/2;
            width: 100%;
        }
   

    .carousel_1 {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .carousel_1-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        margin-top: 50px;
    }
    .div_11 {
        flex: 0 0 80%; 
        box-sizing: border-box;
        padding: 0px;
        margin-left: 100px;
    }
    .div_1{
        flex: 0 0 80%; 
        box-sizing: border-box;
        padding: 0px;
        margin-left: 130px;
    }
    .div_11 img, .div_1 img{
        width: 70%;
        display: block;
        
    }
    .prev_1, .next_1 {
        position: absolute;
        top: 24%;
        transform: translateY(-100%);
        background-color: #5D5D4D;
        color: #312A20;
        border: none;
        padding: 10px ;
        cursor: pointer;
        z-index: 10;
    }
    .prev_1 {
        left: 10px;
    }
    .next_1  {
        right: 200px;
    }



}



@media (min-width: 768px) {
    #tema_container {
        position: relative;
        top: 5%;
        left: 5%;
        padding-top: 5%;
        width: 40%;
        aspect-ratio: 24.7/11;
    }

    #tema_sprite {
        width: 100%;
        height: 100%;
        background-image: url(../img/tema5_img/passionsite_img/Tema_5_P.png);
        background-size: cover;
        margin-top: 2em;
    }
    img{
        max-width: 50%;
    }

    main {
        padding: 2em;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 7; 
        gap: 2em; 
        row-gap: 1px solid #B6A38D;
    }

    #tema_container {
        grid-column: 1 / -1; 
        grid-row: 1 / 2; 
        margin-bottom: 2em;
    }
    .Hero_section{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .carousel_1 {
        grid-column: 2 / 3; 
        grid-row: 2/5; 
    }
    .video{
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .link{
        grid-column: 1/3;
        grid-row: 6/7;
        text-align: center;
    }
   

   
.Hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    background-color: none;
    padding: 2em;
}
    div.Hero_image{
    background-image: url(../img/tema5_img/passionsite_img/hero_billede.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    }
    section.video{
        border-top: 1px solid #B6A38D;
    }
    div.video_grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 2;
        gap: 10px;
        padding: 2em;
    
    }
        video:nth-of-type(1){
            grid-column: 1/2;
            grid-row: 1/2;
            width: 100%;
        }
   

    .carousel_1 {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .carousel_1-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        margin-top: 50px;
    }
    .div_11 {
        flex: 0 0 80%; 
        box-sizing: border-box;
        padding: 0px;
        margin-left: 100px;
    }
    .div_1{
        flex: 0 0 80%; 
        box-sizing: border-box;
        padding: 0px;
        margin-left: 130px;
    }
    .div_11 img, .div_1 img{
        width: 70%;
        display: block;
        
    }
    .prev_1, .next_1 {
        position: absolute;
        top: 24%;
        transform: translateY(-100%);
        background-color: #5D5D4D;
        color: #312A20;
        border: none;
        padding: 10px ;
        cursor: pointer;
        z-index: 10;
    }
    .prev_1 {
        left: 10px;
    }
    .next_1  {
        right: 90px;
    }



}



@media (min-width: 1025px) {
    #tema_container {
        position: relative;
        top: 5%;
        left: 5%;
        padding-top: 5%;
        width: 40%;
        aspect-ratio: 24.7/11;
    }

    #tema_sprite {
        width: 100%;
        height: 100%;
        background-image: url(../img/tema5_img/passionsite_img/Tema_5_P.png);
        background-size: cover;
        margin-top: 2em;
    }
    img{
        max-width: 50%;
    }

    main {
        padding: 2em;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 7; 
        gap: 2em; 
        row-gap: 1px solid #B6A38D;
    }

    #tema_container {
        grid-column: 1 / -1; 
        grid-row: 1 / 2; 
        margin-bottom: 2em;
    }
    .Hero_section{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .carousel_1 {
        grid-column: 2 / 3; 
        grid-row: 2/5; 
    }
    .video{
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .link{
        grid-column: 1/3;
        grid-row: 6/7;
        text-align: center;
    }
   

   
.Hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    background-color: none;
    padding: 2em;
}
    div.Hero_image{
    background-image: url(../img/tema5_img/passionsite_img/hero_billede.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    }
    section.video{
        border-top: 1px solid #B6A38D;
    }
    div.video_grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 2;
        gap: 10px;
        padding: 2em;
    
    }
        video:nth-of-type(1){
            grid-column: 1/2;
            grid-row: 1/2;
            width: 100%;
        }
   

    .carousel_1 {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .carousel_1-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        margin-top: 50px;
    }
    .div_11 {
        flex: 0 0 80%; 
        box-sizing: border-box;
        padding: 0px;
        margin-left: 100px;
    }
    .div_1{
        flex: 0 0 80%; 
        box-sizing: border-box;
        padding: 0px;
        margin-left: 130px;
    }
    .div_11 img, .div_1 img{
        width: 70%;
        display: block;
        
    }
    .prev_1, .next_1 {
        position: absolute;
        top: 24%;
        transform: translateY(-100%);
        background-color: #5D5D4D;
        color: #312A20;
        border: none;
        padding: 10px ;
        cursor: pointer;
        z-index: 10;
    }
    .prev_1 {
        left: 10px;
    }
    .next_1  {
        right: 200px;
    }



}
